# requirements.txt

# --- Web 框架与服务器 ---
Flask>=2.0
gunicorn

# --- 核心功能 ---
requests         # 用于发送所有HTTP请求
beautifulsoup4   # 用于解析网页HTML
lxml             # [必须] beautifulsoup4 的高性能解析器
translators      # 用于翻译演员名和角色名

# --- 定时任务 ---
APScheduler
pytz             # APScheduler 的时区依赖